root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = false
ij_smart_tabs = false
ij_visual_guides = none
ij_wrap_on_typing = false

[*.swift]
ij_swift_align_group_field_declarations = false
ij_swift_align_multiline_array_initializer_expression = true
ij_swift_align_multiline_binary_operation = false
ij_swift_align_multiline_chained_methods = false
ij_swift_align_multiline_extends_list = false
ij_swift_align_multiline_parameters = true
ij_swift_align_multiline_parameters_in_calls = false
ij_swift_align_multiline_parenthesized_expression = false
ij_swift_align_multiline_ternary_operation = false
ij_swift_blank_lines_after_imports = 1
ij_swift_blank_lines_around_class = 1
ij_swift_blank_lines_around_field = 0
ij_swift_blank_lines_around_field_in_interface = 0
ij_swift_blank_lines_around_method = 1
ij_swift_blank_lines_around_method_in_interface = 0
ij_swift_blank_lines_before_imports = 1
ij_swift_blank_lines_before_method_body = 0
ij_swift_block_brace_style = end_of_line
ij_swift_block_comment_at_first_column = true
ij_swift_call_parameters_new_line_after_left_paren = false
ij_swift_call_parameters_right_paren_on_new_line = false
ij_swift_call_parameters_wrap = off
ij_swift_catch_on_new_line = false
ij_swift_class_brace_style = end_of_line
ij_swift_closure_signature_on_next_line_if_multiline = false
ij_swift_condition_clauses_align_multiline = true
ij_swift_condition_clauses_wrap = 0
ij_swift_else_on_new_line = false
ij_swift_guard_else_on_new_line = false
ij_swift_indent_case_from_switch = false
ij_swift_indent_directive_as_code = true
ij_swift_indent_directive_children = false
ij_swift_indent_multiline_strings = true
ij_swift_keep_blank_lines_before_right_brace = 2
ij_swift_keep_blank_lines_in_code = 2
ij_swift_keep_blank_lines_in_declarations = 2
ij_swift_keep_first_column_comment = true
ij_swift_keep_indents_on_empty_lines = false
ij_swift_keep_line_breaks = true
ij_swift_keep_simple_blocks_in_one_line = false
ij_swift_keep_simple_blocks_in_one_line_if_argument = true
ij_swift_keep_simple_classes_in_one_line = false
ij_swift_keep_simple_methods_in_one_line = false
ij_swift_label_indent_absolute = false
ij_swift_label_indent_size = 0
ij_swift_line_comment_add_space = false
ij_swift_line_comment_at_first_column = false
ij_swift_method_brace_style = end_of_line
ij_swift_method_call_chain_wrap = off
ij_swift_method_parameters_new_line_after_left_paren = false
ij_swift_method_parameters_right_paren_on_new_line = false
ij_swift_method_parameters_wrap = off
ij_swift_modifier_list_wrap = false
ij_swift_prefer_explicit_return = false
ij_swift_prefer_void = false
ij_swift_space_after_argument_colon = true
ij_swift_space_after_colon = true
ij_swift_space_after_comma = true
ij_swift_space_after_comma_in_type_arguments = true
ij_swift_space_after_dictionary_literal_colon = true
ij_swift_space_after_dictionary_type_colon = true
ij_swift_space_after_for_semicolon = true
ij_swift_space_after_operator_in_function_declarations = false
ij_swift_space_after_quest = true
ij_swift_space_after_superclass_colon = true
ij_swift_space_after_type_colon = true
ij_swift_space_before_annotation_parameter_list = false
ij_swift_space_before_argument_colon = false
ij_swift_space_before_catch_keyword = true
ij_swift_space_before_catch_left_brace = true
ij_swift_space_before_class_left_brace = true
ij_swift_space_before_colon = true
ij_swift_space_before_comma = false
ij_swift_space_before_dictionary_literal_colon = false
ij_swift_space_before_dictionary_type_colon = false
ij_swift_space_before_do_left_brace = true
ij_swift_space_before_else_keyword = true
ij_swift_space_before_else_left_brace = true
ij_swift_space_before_for_left_brace = true
ij_swift_space_before_for_semicolon = false
ij_swift_space_before_if_left_brace = true
ij_swift_space_before_method_call_parentheses = false
ij_swift_space_before_method_left_brace = true
ij_swift_space_before_method_parentheses = false
ij_swift_space_before_superclass_colon = false
ij_swift_space_before_switch_left_brace = true
ij_swift_space_before_type_colon = false
ij_swift_space_before_while_keyword = true
ij_swift_space_before_while_left_brace = true
ij_swift_space_within_empty_method_call_parentheses = false
ij_swift_space_within_empty_method_parentheses = false
ij_swift_spaces_around_additive_operators = true
ij_swift_spaces_around_assignment_operators = true
ij_swift_spaces_around_bitwise_operators = true
ij_swift_spaces_around_equality_operators = true
ij_swift_spaces_around_lambda_arrow = true
ij_swift_spaces_around_logical_operators = true
ij_swift_spaces_around_multiplicative_operators = true
ij_swift_spaces_around_range_operators = false
ij_swift_spaces_around_relational_operators = true
ij_swift_spaces_around_shift_operators = true
ij_swift_spaces_within_annotation_parentheses = false
ij_swift_spaces_within_array_initializer_braces = false
ij_swift_spaces_within_braces = true
ij_swift_spaces_within_brackets = false
ij_swift_spaces_within_method_call_parentheses = false
ij_swift_spaces_within_method_parentheses = false
ij_swift_spaces_within_parentheses = false
ij_swift_spaces_within_string_interpolations = false
ij_swift_special_else_if_treatment = true
ij_swift_use_relative_indents = false
ij_swift_while_on_new_line = false
ij_swift_wrap_first_method_in_call_chain = false
